[data-type=index] main {
  margin: 0 1.2rem;
  color: #111;
  /* &:before{
    content: "";
    background: #f3f3f3;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: $base*-6;
  } */
}
[data-type=index] header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  min-height: 4rem;
}
[data-type=index] header h1 {
  font-family: "Sentient", sans-serif;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 1.2;
  padding: 1.2rem 0;
}
[data-type=index] section {
  background: #111;
  width: 100%;
}
[data-type=index] section ul {
  display: grid;
  padding: 0.4rem 0.4rem;
  grid-gap: 0.4rem;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  height: calc( 100vh - 7.2rem);
}
[data-type=index] section ul li {
  grid-column: span 1;
  grid-row: span 1;
  padding: 0.8rem 2.4rem;
  background: white;
}
[data-type=index] section ul li:before {
  content: "";
  position: absolute;
  background: #dadada;
}
[data-type=index] section ul li h2 {
  font-size: 4rem;
  line-height: 3.2rem;
  font-weight: 400;
  height: 100%;
}
[data-type=index] section ul li .issue {
  line-height: 1em;
  font-weight: 400;
}
[data-type=index] section ul li a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
[data-type=index] header:has(input:not(:checked)) + section ul {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, minmax(4.8rem, auto));
  overflow: hidden scroll;
}
[data-type=index] header:has(input:not(:checked)) + section ul h2 {
  left: 10rem;
  width: calc(100% - 10rem);
}
[data-type=index] header:has(input:not(:checked)) + section ul .issue {
  font-size: 6rem;
  position: absolute;
  top: -5%;
  display: inline-block;
  border-right: 1px solid;
  padding-right: 0;
  width: 7rem;
}
[data-type=index] header:has(input:not(:checked)) + section ul li {
  transition: transform 0.25s ease;
}
[data-type=index] header:has(input:not(:checked)) + section ul li:before {
  height: 0;
  top: 0;
  left: 0;
  transition: 0.25s ease;
}
[data-type=index] header:has(input:not(:checked)) + section ul li:hover {
  transform-origin: bottom left;
  transform: translateY(2rem);
  border-right: 2px solid #111;
  box-shadow: 1rem 0 1rem rgba(17, 17, 17, 0.2784313725);
  z-index: 3;
}
[data-type=index] header:has(input:not(:checked)) + section ul li:hover:before {
  top: calc(-2rem + 2px);
  width: 100%;
  height: 2rem;
  border-bottom: 2px solid #111;
  transition: 0.25s ease height, 0.25s ease tops;
}
[data-type=index] header:has(input:checked) + section ul {
  grid-template-columns: repeat(auto-fill, 12rem);
  grid-template-rows: 1fr;
  overflow: scroll hidden;
}
[data-type=index] header:has(input:checked) + section ul h2 {
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: left bottom;
  bottom: 15rem;
  left: 120%;
  width: 50vh;
  height: 2em;
  display: inline-block;
}
[data-type=index] header:has(input:checked) + section ul .issue {
  font-size: 12rem;
  position: absolute;
  bottom: 0;
  border-top: 1px solid;
}
[data-type=index] header:has(input:checked) + section ul li {
  transition: transform 0.25s ease;
}
[data-type=index] header:has(input:checked) + section ul li:before {
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  transition: 0.25s ease;
}
[data-type=index] header:has(input:checked) + section ul li:hover {
  transform-origin: bottom left;
  transform: translateX(2rem);
  border-right: 2px solid #111;
  box-shadow: 1rem 0 1rem rgba(17, 17, 17, 0.2784313725);
  z-index: 3;
}
[data-type=index] header:has(input:checked) + section ul li:hover:before {
  left: calc(-2rem + 2px);
  width: 2rem;
  border-right: 2px solid #111;
  transition: 0.25s ease width, 0.25s ease left;
}

.checkbox-label {
  z-index: 400;
  position: relative;
}

.options {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 14rem;
  height: 2rem;
  z-index: -1;
  position: relative;
  background-color: white;
}

.cc_control_button .screen,
.cc_control_button .print {
  width: 7rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1rem;
  color: #111;
  text-transform: uppercase;
}
.cc_control_button .screen::selection,
.cc_control_button .print::selection {
  background: none;
  color: #111;
}
.cc_control_button .checkbox-label .checkbox + .options::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -2px;
  bottom: 0;
  left: 0;
  width: 7rem;
  height: 2rem;
  z-index: -1;
  transition: 0.3s;
  border: 1px solid #111;
}
.cc_control_button .checkbox-label .checkbox:checked + .options::before {
  left: 7rem;
}
.cc_control_button .checkbox-label .checkbox:disabled + .options span {
  cursor: not-allowed;
}