<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
        <link rel="stylesheet" href="/assets/css/main.css" />
        {% block css %}{% endblock %}
        <title>Volumes{% if data.title %} — {{ data.title }}{% endif %}</title>
    </head>
    <body data-type="{{type}}">
      <main> 
        {% block main %}{% endblock %}
      </main>
      {% block js %}{% endblock %}
    </body>
</html>