{% extends "_base.html" %}

{% block css %}
  <link rel="stylesheet" href="/assets/css/home.css" />
{% endblock %}

{% block main %}

	<header>
		<h1>Volumes</h1>

		<div class="cc_control_button">
		  <label for="isPrint" class="checkbox-label">
		    <input class="checkbox" id="isPrint" type="checkbox" hidden />
		    <span class="options">
		      <span class="screen">Écran</span>
		      <span class="print">Papier</span>
		    </span>
		  </label>
		</div>

	</header>
	<section>
		<ul role="list">
			{% for issue in issues %}
			<li>
				<a href="{{issue.path}}" class="volume">
					<h2>{{issue.data.title | safe }}</h2>
					<span class="issue">{{issue.issue }}</span>
				</a>
			</li>
			{% endfor %}
		</ul>
	</section>
{% endblock %}

{% block js %}
	<script type="text/javascript" src="assets/js/home.js"></script>
{% endblock %}
