{% extends "_base.html" %}

{% set folder = path | replace('.html', '')%}

{% block css %}
  <link rel="stylesheet" href="/assets/css/pagedjs_interface.css" />
	{% if (css | length ) > 0 %}
	{% for cssPath in css %}
  	<link rel="stylesheet" href="./{{ folder }}/{{ cssPath }}" />
	{% endfor %}
	{% endif %}
{% endblock %}

{% block main %}

	<section class="hero">

		<header>
			<p>Volumes</p>
	  	<p class="issue_number">#{{issue}}</p>
		</header>

	  <h1>{{data.title | safe }}</h1>
		
		{% if data.author %}
		{% endif %}


	  <ul class="authors">
	  	{% set authors = [] %}
	  	{% for article in txt %}
	
				{% if article.attributes.author | isArray %}
					{% for author in article.attributes.author %}
						{% if author not in authors %}
			  			<li>{{author}}</li>
			  			{% set authors = (authors.push(author), authors) %}
		  			{% endif %}
					{% endfor %}
				{% else %}
		  		{% if article.attributes.author not in authors %}
		  			<li>{{article.attributes.author}}</li>
		  			{% set authors = (authors.push(article.attributes.author), authors) %}
		  		{% endif %}
				{% endif %}



			{% endfor %}
	  </ul>
	</section>

	<section class="articles">
		
	{% for article in txt %}


    <section  class="article" 
    					data-id="{{ article.attributes.title 
    											| replace ( ' ', '_') 
    											| replace ( 'é', 'e') 
    											| truncate(5, true, '') 
    											| urlencode }}">

    	{% if article.attributes.cover %}
    	<figure class="img">
		    <img src="{{ folder}}/{{article.attributes.cover }}">
		    <figcaption>{{ article.attributes.cover_caption }}</figcaption>
		  </figure>
    	{% endif %}
            
    	<hgroup>
    		<p class="author">
    			{% if article.attributes.author | isArray %}
    				{{article.attributes.author | join (", ")}}
    			{% else %}
    				{{article.attributes.author}}
    			{% endif %}
    		</p>
    		<h1>{{article.attributes.title | safe }}</h1>

    	</hgroup>
    	<div class="wrapper">{{article.body | safe }}</div>
    	<!--<p class="source">{{article.attributes.source}}</p>-->
    </section>
	{% endfor %}
	</section>
  
{% endblock %}

{% block js %}
	<script type="text/javascript" src="assets/js/isBrowser.js"></script>
	{% if (js | length ) > 0 %}
  	<script src="{{ folder }}/{{ js }}"></script>
	{% endif %}
{% endblock %}